.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.TranshCanLogo {
  width: 50vw;
  height: 50vw;
}

.TranshCanLogo > img {
  width: 100%;
}
